<mat-card class="body-card" appearance="outlined">
    <mat-card-header class="card-header">Table - Header grouping with drag and drop feature</mat-card-header>
    <mat-card-content>
            
        <div
            cdkDropList
            [cdkDropListData]="selectedColumns"
            class="groiping-list"
            (cdkDropListDropped)="dropHeader($event)">

            <mat-chip-set aria-label="Field selection">
                @for (column of selectedColumns; track column) {
                    <mat-chip (removed)="removeColumnFromHeader(column)">
                        {{ column | titlecase }}
                        <mat-icon matChipRemove>cancel</mat-icon>
                    </mat-chip>
                }
            </mat-chip-set>
        </div>
          
        <mat-table #table 
            [dataSource]="dataSource"
            class="mat-elevation-z8" 
            cdkDropList
            (cdkDropListDropped)="dropRow($event)" 
            cdkDropListData="dataSource">

            <ng-container matColumnDef="position">
                <mat-header-cell *matHeaderCellDef cdkDrag [cdkDragData]="'position'" (cdkDragStarted)="dragHeader('position')">Position</mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <mat-icon class="example-drag-cursor">reorder</mat-icon>
                    <span>{{element.position}}</span>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef cdkDrag [cdkDragData]="'name'" (cdkDragStarted)="dragHeader('name')">Name</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="weight">
                <mat-header-cell *matHeaderCellDef cdkDrag [cdkDragData]="'weight'" (cdkDragStarted)="dragHeader('weight')">Weight</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.weight}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="symbol">
                <mat-header-cell *matHeaderCellDef cdkDrag [cdkDragData]="'symbol'" (cdkDragStarted)="dragHeader('symbol')">Symbol</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.symbol}} </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;" cdkDrag [cdkDragData]="row"></mat-row>

            <!-- Group header -->
            <ng-container matColumnDef="groupHeader">
                <mat-cell *matCellDef="let group" [attr.colspan]="displayedColumns.length" class="group-header-row">
                    <mat-icon *ngIf="group.expanded" class="arrrow-icon">expand_less</mat-icon>
                    <mat-icon *ngIf="!group.expanded" class="arrrow-icon">expand_more</mat-icon>
                    <span>{{ selectedColumns[group.level-1] | titlecase }} = {{ group[selectedColumns[group.level-1]] }} ({{ group.totalCounts }})</span>
                </mat-cell>
            </ng-container>

            <tr mat-row *matRowDef="let row; columns: ['groupHeader']; when: isGroup" (click)="groupHeaderClick(row)"></tr>
        </mat-table>
    </mat-card-content>
</mat-card>